@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 0, 255;
  --background-end-rgb: 255, 0, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  cursor: crosshair;
  overflow-x: hidden;
}

/* Gallery scrollbar */
.gallery-scroll::-webkit-scrollbar {
  width: 12px;
}

.gallery-scroll::-webkit-scrollbar-track {
  background: #F867DE;
  border-left: 2px solid #3376F8;
}

.gallery-scroll::-webkit-scrollbar-thumb {
  background: #0066FF;
  border: 2px solid #F867DE;
}

.gallery-scroll::-webkit-scrollbar-thumb:hover {
  background: #3376F8;
}

/* Merch scrollbar */
.merch-scroll::-webkit-scrollbar {
  width: 12px;
}

.merch-scroll::-webkit-scrollbar-track {
  background: #3376F8;
  border-left: 2px solid #F867DE;
}

.merch-scroll::-webkit-scrollbar-thumb {
  background: #F867DE;
  border: 2px solid #3376F8;
}

.merch-scroll::-webkit-scrollbar-thumb:hover {
  background: #F867DE;
}

@layer utilities {
  .stroke-2 {
    -webkit-text-stroke: 2px currentColor;
  }
}

@keyframes moveRaccoon {
  0% {
    transform: translateX(-100%) scaleX(1);
  }
  49% {
    transform: translateX(100%) scaleX(1);
  }
  50% {
    transform: translateX(100%) scaleX(-1);
  }
  99% {
    transform: translateX(-100%) scaleX(-1);
  }
  100% {
    transform: translateX(-100%) scaleX(1);
  }
}

.mobile-raccoon-animation {
  animation: moveRaccoon 20s linear infinite;
}

::selection {
  background: #F867DE;
  color: #262525;
} 

.bg-brutal-pink {
  background: #F867DE;
}

.text-brutal-pink {
  color: #F867DE;
}

.text-brutal-blue {
  color: #3376F8;
}

.bg-brutal-blue {
  background: #3376F8;
}


